<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

    <header>
    </header>

    <main>
        <div class="jumbotron">
            <h1>All Teams</h1>
            <h4><%= message %></h4>
            <ul>
                <% data.forEach(function(mascot) { %>
                    <li>
                        Name:<strong><%= mascot.name %></strong>
                        <!-- Status:<strong><%= mascot.status %></strong> -->
                        Time:<strong><%= mascot.dateTime %></strong>
                        Home Team:<strong><%= mascot.homeTeam %></strong>
                        Away Team:<strong><%= mascot.awayTeam %></strong>
                        <!-- Winner:<strong><%= mascot.winnerTeam %></strong> -->
                        Users Signed Up:<strong><%= mascot.noOfUsers %></strong>
                    </li>
                <% }); %>
            </ul>
        </div>
    </main>

    <footer>
    </footer>

</body>
</html>